

{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block css %}
    body {
        background: -webkit-linear-gradient(left, powderblue, powderblue);
    }

    .col-md-3 {
        display: inline-block;
        margin-left: -4px;
    }

    .text-light {
        color: red
    }

    .carousel-indicators .active {
        background-color: powderblue;
    }

    body .carousel-indicator li {
        background-color: black;
    }

    body .carousel-indicators {
        bottom: 0;
    }

    body .carousel-control-prev-icon,
    body .carousel-control-next-icon {
        background-color: black;
    }

    .carousel-control-prev,
    .carousel-control-next {
        top: auto;
        bottom: auto;
        padding-top: 222px;
    }

    body .no-padding {
        padding-left: 0,
        padding-right: 0;
    }

    .wrapper {
        margin-bottom: 200px;
    }
{% endblock %}



{% block content %}
<br>

<div class="container wrapper">





    <h5>Edit Movie </h5>
    <br>
    <br>
    <ul>
        {% for movie in user_movies %}
        <h5> {{ movie.genres }}</h5>
         <div class="col-4 md-2">
                    <div class="card" style="width: 18rem;">
                         <h5 class="card-title text-center" style="background-color:red">{{ movie.title }}</h5>
                        <img class="card-img-top" src="{{ movie.image.url }}" alt="{{ movie.title }}" alt="Card image cap" height="250px" width="200px">
                        <div class="card-body">

                            <form action="{% url 'rate_movie' %}" method="post">

                                {% csrf_token %}
                                <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                <!-- Star rating input -->















                                    <a class='btn btn-primary' href="{% url 'edit' movie.id %}">Update</a>
                          <a class='btn btn-danger' href="{% url 'delete' movie.id %}">Delete</a>


                      <br>
                                    <br>
                        <div class="card-footer">
                    <p><strong>Genres:</strong> {{ movie.genres }}</p>
                    <p><strong>Description:</strong> {{ movie.description }}</p>
                    <p><strong>Actors:</strong> {{ movie.actors }}</p>
                    <p><strong>Duration:</strong> {{ movie.movieduration }}</p>
                    <p><strong>Youtube link:</strong> <a href="{{ movie.link }}">{{ movie.link }}</a>

                        </div>
                    </div>
</form>
                        </div>
                    </div>



            <!-- You can display other movie details here -->
        {% empty %}
            <li>No movies added by this user.</li>
        {% endfor %}

         </div>

    </ul>
</div>

{% endblock content %}